body {
    font-family: 'Lato', arial;  
}

nav ul a {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 500px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.intro
{
	text-align: center;
	padding-top: 13%;
	padding-bottom: 13%;
}

.intro h1
{
	font-weight: 900;
	text-transform: uppercase;
    padding-left: 20%;
}

#headline {
  line-height: 1.5em;
  color: black;
  position: relative;
}

#headline:after {
  content:' ';
  position: absolute;
  top:112%;
  left:60%;
  width: 315px;
  border:2px solid #d0d0d0;
  border-radius:4px;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  transform:translateX(-50%);

}

.intro h5
{
	text-transform: uppercase;
	padding: 10px;
    padding-left: 20%;
	display: inline-block;
	font-size: 1.3rem;
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 2%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.fakta .col
{
    margin-bottom: 24px;
}

.fakta h3
{
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 15px;
}

.fakta h4
{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 40px;
}

.fakta h6
{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 25px;
}

.fakta hr
{
    width: 40px;
    margin-bottom: 45px;
}

.fakta a {
    text-align: left;
}

.fakta .card
{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5)
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.contact .col
{
	margin-bottom: 24px;
}

.contact h5
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.contact h6
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.contact hr
{
	width: 40px;
	margin-bottom: 45px;
}

.contact .contact-holder
{
	padding-left: 40px;
	text-align: left;
}

.contact .contact-holder h6
{
	margin-bottom: 15px;
	text-align: left;
}

.contact .contact-holder p
{
	margin-bottom: 30px;
}

footer.page-footer {
    margin: 0;
    text-align: center;
}