body {
    font-family: 'Lato', arial;  
}

.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}

.top {
  position:fixed;
  bottom: 0px;
  right:0px;
  padding:20px;
  display:none;
  cursor: pointer;
}
.top:after {
  content: '⬆';
  color: #d0d0d0;
  position: absolute; 
  bottom:5px;
  right: 30px;
  font-size: 30px;
}

nav ul a {
    color: #444;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
    min-height: 480px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.intro
{
	text-align: center;
	padding-top: 13%;
	padding-bottom: 13%;
}

.intro h1
{
	font-weight: 900;
	text-transform: uppercase;
    padding-left: 20%;
}

#headline {
  line-height: 1.5em;
  color: black;
  position: relative;
}

#headline:after {
  content:' ';
  position: absolute;
  top:112%;
  left:60%;
  width: 315px;
  border:2px solid #d0d0d0;
  border-radius:4px;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  transform:translateX(-50%);

}

.intro h5
{
	text-transform: uppercase;
	padding: 10px;
    padding-left: 20%;
	display: inline-block;
	font-size: 1.5rem;
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 20%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 10%;
    }
}

p {
    line-height: 2rem;
}

.container.fakta {
    margin-top: 20px
}

.row.fakta {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 25px 15px 10px 15px;
}
.fakta h3
{
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 40px;
}

.fakta h6
{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 25px;
}

#jag {
  border-radius: 50%;
  -webkit-animation: rota 4s ease-in-out infinite;
  -moz-animation:    rota 1s ease-in-out infinite;
  -ms-animation:     rota 1s ease-in-out infinite;
  -o-animation:      rota 1s ease-in-out infinite;
  animation:         rota 1s ease-in-out infinite;
}

@-webkit-keyframes rota {
    0% { -webkit-transform: rotate(0deg);}
    30% { -webkit-transform: rotate(20deg);}
    80% { -webkit-transform: rotate(-10deg);}
    100% { -webkit-transform: rotate(0deg);}
}

@-moz-keyframes rota {
    0% {-moz-transform: rotate(0deg);}
    30% {-moz-transform: rotate(20deg);}
    80% {-moz-transform: rotate(-10deg);}
    100% {-moz-transform: rotate(0deg);}
}

@-o-keyframes rota {
    0% {-o-transform: rotate(0deg);}
    30% {-o-transform: rotate(20deg);}
    80% {-o-transform: rotate(-10deg);}
    100% {-o-transform: rotate(0deg);}
}

@keyframes rota {
    0% {transform: rotate(0deg);}
    30% {transform: rotate(20deg);}
    80% {transform: rotate(-10deg);}
    100% {transform: rotate(0deg);}
}

#informationhead {
    text-transform: uppercase;
    font-weight: 900;
    color: #424242;
}

.icon-block .material-icons {
    font-size: inherit;
}

.contact .col
{
	margin-bottom: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 0px 25px 0px;
}

.contact h3
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
    padding-top: 30px
}

.contact h6
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 3px;
}

.contact  p {
    margin-bottom: 40px;
}

.contact  p:nth-child(2) {
    margin-bottom: -15px;
}

.kont:link {
    color: #64ffda;
}

.kont:hover {
    color: #00e5ff;
}

footer.page-footer {
    margin: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
}